

.divHomeTop{

    background-image: url("../Img/fondo7.jpg"); 
    background-size: cover;
    padding: 5% 25%;
}


.divHome{
    text-align: center;
    padding: 5vh;
    border-radius: 2vh;


}

.divHome h1{
    color: #03045e;
    text-align: center;
    font-weight: 800;
    margin: 2em 0;
}

.divHome h3{
    text-align: center;
    color: #0077b6;
    margin: 2em 0;
}


.divHome a{
    margin: 2em 1em;
    width: 10em;
    background-color: white;
}

h1{
    font-family: 'Itim', cursive;
}

h2{
    font-family: 'Bungee Inline', cursive;
}

h3{
    font-family: 'Indie Flower', cursive;
}

p {
    font-family: 'Cousine', monospace;
}

a{
    font-family: 'Sunshiney', cursive;
}