.footerBox{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.footerIcono{

    margin: 10px 20px;
}

.footerText{
    margin: 100px;
    color: black;
    font-weight: 300;
    font-size: 30px;
}

.footerCopyright{
    color: black;
    font-size: 20px;
}