.div-games{
    background-image: url("../Img/fondo-home.jpg");
    background-size: cover;
}

.game-card-img-top{
    
    align-self: center;
    border-radius: 5vh;
}

.game-card-body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3262255585828081) 100%);    
    border-width: 10vh;
    border-radius: 5vh;
    border-color: black;
    margin: 10px;
}

.game-card-body p{
    color: black;
}

.game-card{
    width: 50%;
    height: auto;
    margin: 1vh 25% 0 25% !important;
    border-radius: 5vh;   
}

@font-face{
    font-family: "Cute_Notes";
    src: url('../Fonts/Cute_Notes.ttf') ;
}
.h1-games{
    font-family: Cute_Notes;
    text-align: center;
    padding: 5vh;
    color: darkblue;
    width: 50%;
    margin: 10px 25%;
    font-size: xxx-large;
    font-weight: bold;
}