.containerLogin{
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 2vh;
    padding: 2.5rem;
}
 .form-control{
     display: block;
     margin: auto;
 }


@font-face{
    font-family: "Cute_Notes";
    src: url('../Fonts/Cute_Notes.ttf') format('truetype');
}

.h1-login{
    font-family: Itim, cursive;
    font-weight: 600;
}