.containerLogin{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.6) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.81)), color-stop(100%, rgba(237,237,237,0.6)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.6) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.6) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.6) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 2vh;
    padding: 2.5rem;
}
 .form-control{
     display: block;
     margin: auto;
 }

.bodyLogin{
    background-image: url("../Img/fondo-login.jpg");
    background-size: cover;
    padding: 100px;
}